
/* Template Summery Start */
    /* Color details Start */

        /* __Body Light__ */
        /* Background Dark : #f2f2fc */ 
        /* Background Light : #fdf9ff */ 
        /* Heading : #302e4d */ 
        /* Text : #504e70 */ 
        /* Border Dark : #d4d4e3 */ 
        /* Border Light : #e8dfec */

        /* __Body Dark__ */
        /* Background Dark : #151515 */ 
        /* Background Light : #222222 */ 
        /* Heading : #ffffff */ 
        /* Text : #e9e9e9 */ 
        /* Border : #393939 */

        /* __Skins Color__ */
        /* Pink : #ec1839 */
        /* Blue : #2196f3 */
        /* Orange : #fa5bo4 */
        /* Yellow : #ffb400 */
        /* Green : #72b626 */

    /* Color details End */
/* Template Summery End */





/* Genarel Css Start */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
::before, ::after {
    box-sizing: border-box;
}
input,textarea,select {
    font-family: 'Montserrat', sans-serif;
}
/* Genarel Css End */

/* Common Css Start */
.section {
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.section.back-section {
    z-index: 1;
}
.section.active {
    opacity: 1;
    z-index: 2;
    -webkit-animation: slideSection 1s ease;
    animation: slideSection 1s ease;
}
@-webkit-keyframes slideSection {
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes slideSection {
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px; 
}
.section-title h2 {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    position: relative;
}
.section-title h2::before {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after {
    content: "";
    width: 25px;
    height: 4px;
    position: absolute;
    bottom: -12px;
    left: 0; 
}
.container { 
    max-width: 1170px;
    width: 100%;
    margin: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}
.padd-15 { 
    padding-left: 15px;
    padding-right: 15px;
}
.shadow-dark {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.btn {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    border: none;
    margin-top: 15px;
}
.btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.hidden {
    display: none;
}
/* Common Css End */ 



/* preloader Start */
.preloader {
    background-color: #222;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.preloader.opacity-0 {
    opacity: 0;
}
.preloader .loader {
    width: 40px;
    height: 40px;
    border: 4px solid #e3e3e3;
    border-radius: 50%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* preloader End */




/* Aside Start */
.aside {
    width: 270px;
    background-color: #fdf9ff;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: auto;
    border-right: 1px solid #e8dfec;
    padding: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/* Logo Element Start */
.aside .logo {
    padding: 30px 0;
}
.aside .logo a {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    line-height: 50px;
}
.aside .logo a::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0;
}
.aside .logo a::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: 0;
}
/* Logo Element End */

/* Nav Toogler Start */
.aside .nav-toggler {
    width: 45px;
    height: 40px;
    border: 1px solid #d4d4e3;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    z-index: 11;
    background-color: #fdf9ff;

    display: none;
    /* display: -ms-flexbox;  
    display: flex; */
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.aside .nav-toggler span {
    width: 20px; 
    height: 2px;
    display: inline-block;
    position: relative;
}
.aside .nav-toggler.open span {
    background-color: transparent;
}
.aside .nav-toggler span::before {
    content: "";
    position: absolute;
    width: 20px; 
    height: 2px;
    top: -6px;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.aside .nav-toggler.open span::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}
.aside .nav-toggler span::after {
    content: "";
    position: absolute;
    width: 20px; 
    height: 2px;
    top: 6px;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.aside .nav-toggler.open span::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
}
/* Nav Toogler End */
 
/* Main Menu Start */
.aside .nav {
    margin: 50px 0;
    list-style: none;
}
.aside .nav li {
    display: block;
}
.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    color: #302e4d;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}
.aside .nav li a .fa {
    margin-right: 5px;
}
.aside .nav li a:not(.active):hover {
    padding-left: 5px;
} 
/* Main Menu End */

/* Copyright Start */
.copyright-text {
    padding-top: 30px;
    font-size: 13px;
    color: #7d7d7d;
}
/* Copyright End */
/* Aside End */
 
/* ### Main Contant Start */

/* .main-contant {
    padding-left: 270px;
} */

/* Home Banner Start */
.home {
    min-height: 100vh;
    /* display: -ms-flexbox; 
    display: flex; */
    /* display: none; */
}
.home .intro {
    text-align: center;

}
.home .intro img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #fdf9ff;
}
.home .intro h1 {
    font-size: 30px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 20px 0 5px;
}
.home .intro p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    color: #504e70 ;
}

.home .intro .social-links {
    margin-top: 25px;
}
.home .intro .social-links a {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: #fdf9ff;
    margin: 0 4px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.home .intro .social-links a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Home Banner End */


/* About Section Start */
.about .about-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-text {
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-text h3 {
    font-size: 24px;
    color: #302e4d;
    font-weight: 700;
    margin-bottom: 15px;
}
.about .about-text p {
    font-size: 16px;
    list-style: 25px;
    color: #504e70;
}
.about .about-content .personal-info {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #504e70;
    border-bottom: 1px solid #e8dfec;
}
.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons {
    margin-top: 50px;
}
.about .about-content .personal-info .buttons .btn {
    margin-right: 50px;
}
.about .about-content .personal-info .buttons .btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.about .about-content .skills {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #302e4d;
    text-transform: capitalize;
    margin: 0;
}
.about .about-content .skills .skill-item .progress {
    background-color: #e3e3e3;
    height: 7px;
    border-radius: 4px;
    /* overflow: hidden; */
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item .progress-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.about .about-content .skills .skill-item .skill-percent {
    /* display: none; */
    line-height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: #302e4d;
}
.about .about-content .education {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 50px;
}
.about .about-content .experience {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 50px;
}
.about .about-content h3.title {
    font-size: 24px;
    color: #302e4d;
    font-weight: 700;
    margin-bottom: 30px;
}
.about .about-content .timeline-box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline {
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.about .about-content .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline-item:last-child {
    padding-bottom: 0px;
}
.about .about-content .timeline-item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    top: 0;
}
.about .about-content .timeline .circle-dot {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: -7px;
    border-radius: 50%;

}
.about .about-content .timeline .timeline-date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #504e70;
}
.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px    ;
}
.about .about-content .timeline .timeline-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
}
.about .about-content .timeline .timeline-text {
    font-size: 16px;
    list-style: 25px;
    color: #504e70;
}
/* About Section End */

/* Services Section Start */
.service .container {
    padding-bottom: 40px;
}
.service .service-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display:-ms-flexbox;
    display: flex;
}
.service .service-item .service-item-inner {
    background-color: #fdf9ff;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    padding: 30px 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon {
    width: 60px;
    height: 60px;
    /* background-color: red; */
    display: block;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
   color: #fff;
}
.service .service-item .service-item-inner h4 {
    font-size: 18px;
    color: #302e4d;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p {
    font-size: 16px;
    color: #504e70;
    line-height: 25px;
    margin: 0;
}
/* Services Section End */


/* Portfolio Section Start */
.portfolio .container {
    padding-bottom: 40px;
}
.portfolio .portfolio-filter {
    /* background-color: red; */
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.portfolio .portfolio-filter button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    color: #302e4d;
    margin: 8px 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    padding-bottom: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.portfolio .portfolio-item {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item.hide {
    display: none;
}
.portfolio .portfolio-item.show {
    display: block;
    animation: showItem 0.5s ease;
}
@-webkit-keyframes showItem {
    0%{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; 
    }
}
@keyframes showItem {
    0%{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; 
    }
}
.portfolio .portfolio-item .portfolio-item-inner {
    border: 6px solid #fdf9ff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.portfolio .portfolio-item .portfolio-item-inner .portfolio-img img {
    width: 100%;
    display: block;
}
.portfolio .portfolio-item .portfolio-info {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}
.portfolio .portfolio-item .portfolio-item-inner:hover .portfolio-info {
    opacity: 1;
}
.portfolio .portfolio-item .portfolio-info h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
}
.portfolio .portfolio-item .portfolio-item-inner:hover .portfolio-info h4,
.portfolio .portfolio-item .portfolio-item-inner:hover .icon {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
} 
.portfolio .portfolio-item .portfolio-info .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
}
.portfolio .portfolio-item .portfolio-info .icon .fa {
    line-height: 40px;
}
/* Portfolio Section End */

/* Blog Item Start */
.blog .container {
    padding-bottom: 40px;
}
.blog .blog-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
}
.blog .blog-item .blog-item-inner {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d4d4e3;
}
.blog .blog-item .blog-item-inner .bolg-img img {
    width: 100%;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.blog .blog-item .blog-item-inner .bolg-img {
    position: relative;
    overflow: hidden;
}
.blog .blog-item .blog-item-inner:hover .bolg-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.blog .blog-item .blog-item-inner .bolg-img .blog-date {
    position: absolute;
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    left: 10px;
    bottom: 10px;
}
.blog .blog-item-inner .blog-info {
    padding: 30px 15px;
    background-color: #fdf9ff;
}
.blog .blog-item-inner .blog-info .bolg-title {
    font-size: 18px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.blog .blog-item-inner .blog-info .blog-description {
    font-size: 16px;
    line-height: 25px;
    color: #302e4d;
    font-weight: 400;
    margin-bottom: 15px;
}
.blog .blog-item-inner .blog-info .blog-tags {
    line-height: 25px;
    color: #504e70;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}
.blog .blog-item-inner .blog-info .blog-tags a {
    text-decoration: none;
    font-weight: 600;
}
/* Blog Item End */

/* Contact section Start */
.contact .contact-info-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 40px;
}
.contact .contact-info-item .icon {
    display: inline-block;
}
.contact .contact-info-item .icon .fa {
    font-size: 30px;
}
.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin: 15px 0 5px 0;
}
.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
    font-weight: 400;
}

.contact .contact-form {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item {
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #d4d4e3;
    padding: 10px 25px;
    font-size: 16px;
    color: #504e70;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control {
    height: 120px;
}
.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}
/* Contact section End */

/* ### Main Contant End */



/* lightbox Srart */
.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: zoom-out;
    padding: 30px;
}
.lightbox.open {
    display: -ms-flexbox;
    display: flex;
}
.lightbox .lightbox-contant {
    position: relative;
}
.lightbox.open .lightbox-contant {
    animation: lightboxImage 0.5s ease;
}
@-webkit-keyframes lightboxImage {
    0%{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes lightboxImage {
    0%{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.lightbox .lightbox-contant .lightbox-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: 0;
    font-size: 40px;
    text-align: right;
    color: #fff;
    line-height: 30px;
}
.lightbox .lightbox-contant img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 470px;
    cursor: pointer;
    padding: 20px 0;
}
.lightbox .lightbox-contant .lightbox-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    z-index: -1;
}
.lightbox .lightbox-controls .prev-item,
.lightbox .lightbox-controls .next-item {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    margin-top: -20px;
    z-index: 110;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.lightbox .lightbox-controls .prev-item:hover,
.lightbox .lightbox-controls .next-item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.lightbox .lightbox-controls .prev-item:active,
.lightbox .lightbox-controls .next-item:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.lightbox .lightbox-controls .prev-item {
    left: 30px;
}
.lightbox .lightbox-controls .next-item {
    right: 30px;
}
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa {
    font-size: 32px;
    line-height: 40px;
}
/* lightbox End */

/* Dark Body Start */
body.dark .section {
    background-color: #151515;
}
body.dark .contact .contact-form .form-item .form-control,
body.dark .blog .blog-item-inner .blog-info,
body.dark .service .service-item .service-item-inner,
body.dark .about .about-content .timeline,
body.dark .aside {
    background-color: #222;
}
body.dark .blog .blog-item-inner .blog-info .bolg-title,
body.dark .service .service-item .service-item-inner h4,
body.dark .about .about-content .timeline .timeline-title,
body.dark .contact .contact-info-item h4,
body.dark .about .about-content h3.title,
body.dark .about .about-content .skills .skill-item h5,
body.dark .about .about-content .personal-info .info-item p,
body.dark .about .about-text h3,
body.dark .section-title h2,
body.dark .home .intro h1,
body.dark .aside .logo a,
body.dark .aside .nav li a {
    color: #fff;
}
body.dark .contact .contact-form .form-item .form-control,
body.dark .blog .blog-item-inner .blog-info .blog-tags,
body.dark .blog .blog-item-inner .blog-info .blog-description,
body.dark .service .service-item .service-item-inner p,
body.dark .about .about-content .timeline .timeline-date,
body.dark .about .about-content .timeline .timeline-text,
body.dark .contact .contact-info-item p,
body.dark .portfolio .portfolio-filter button,
body.dark .about .about-content .personal-info .info-item p span,
body.dark .about .about-text p,
body.dark .home .intro p {
    color: #e9e9e9;
}
body.dark .aside,
body.dark .contact .contact-form .form-item .form-control,
body.dark .about .about-content .personal-info .info-item p,
body.dark .about .about-content .timeline,
body.dark .service .service-item .service-item-inner,
body.dark .blog .blog-item .blog-item-inner,
body.dark .aside .nav li a {
    border-color: #393939;
}

/* Dark Body End */
